<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Pace Sign Up</title>
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div class="container">
            <div class="form-container">
                <h1>My Pace</h1>
                <h2>sign up</h2>
                <form>
                    <label for="login-id">log in ID</label>
                    <input type="text" id="login-id" name="login-id" />

                    <label for="password">password</label>
                    <input type="password" id="password" name="password" />

                    <label for="mail-address">mail address</label>
                    <input type="email" id="mail-address" name="mail-address" />

                    <label for="phone-number">phone number</label>
                    <input type="tel" id="phone-number" name="phone-number" />

                    <button type="submit">sign up</button>
                </form>
            </div>
            <div class="circle"></div>
        </div>
    </body>
</html>
